@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Open+Sans:300,300i,400,400i,600');

.is-dialog-open {
  filter: blur(3px);
  transition: filter 300ms ease-out;
}

.dialog[aria-hidden="true"] {
  display: none;
}

.dialog-overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dialog-content {
  background-color: rgb(255, 255, 255);
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-content {
  padding: 1em;
  max-width: 90%;
  width: 600px;
  border-radius: 2px;
}

@media screen and (min-width: 700px) {
  .dialog-content {
    padding: 2em;
  }
}

.dialog-overlay {
  background-color: rgba(43, 46, 56, 0.9);
}

.dialog h1 {
  margin: 0;
  font-size: 1.25em;
}

.dialog-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 125% / 1.5 'Open Sans', sans-serif;
  padding: 2em 0;
}

h1 {
  font-size: 1.6em;
  line-height: 1.1;
}

h1, h2 {
  font-family: 'Crimson Text', serif;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 0;
}

.main {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 1em;
}
